/*
	//----- Codigo y comentarios de Victor Moreno, de añadir clases extras, 
	//----- favor comentar la fecha y la persona que lo hizo u-u
*/
/*
	Contenedor especial de la caja, 
	la card podria estar bien sola pero es mejor llevarla asi,
	utilizar las clases extras para alcanzar el efecto deseado.
*/
.card-main-wrapper {
	display: flex;
    flex-direction: column;
    margin: 0px 10px;
    box-shadow: 0px 0px 3px 1px rgba(113, 113, 113, 0.5);
	&.only-one {
    	margin: 0px;
		height: 100%;
	}
	&:last-child {
    	margin-top: 10px;
	}
	.card-header {
		background-color: #505358;
		display: flex;
		padding: 5px;
		color: #fff;
		box-shadow: 0px 2px 4px 0px rgba(113, 113, 113, 0.65);
		z-index: 4;
		justify-content: space-between;
		border-radius: 0!important;
		border-bottom: none!important;
		.card-title {
			font-size: 14px;	
			margin: 0;
		}
	}
	.vertical-list-input {
		ul {
			float: left;
			width: 100%;
			max-width: 446px;
			li {
				font-size: 12px;
				float: left;
				width: 100%;
				margin-bottom: 10px;
				display: flex;
				align-items: center;
				padding: 8px;
				justify-content: space-between;
				&:last-child {
					margin-bottom: 0px;
				}
				.value {
					width: 100px;
					height: 25px;
					border-bottom: 1px solid #888;
					display: flex;
					align-items: center;
					text-align: right;
					justify-content: flex-end;
					padding: 0 10px;
				}
			}
		}  
	}
}

.custom-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 1px rgba(145, 144, 144, 0.75);
    float: left;
    width: 100%;
	&.full {
		height: 100%;
	}
    .custom-card-header {
        float: left;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        background-color: #262e40;
        .custom-card-info {
            display: flex;
            align-items: center;
            height: 100%;
            .fa {
                font-size: 26px;
                color: #fff;
                text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                background-color: #a5393a;
            }
            .custom-card-title {
                color: #fff;
                margin-left: 10px;
                font-size: 22px;
                text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.78);
            }
        }
        .custom-card-actions {
            display: flex;
            align-items: center;
            height: 100%;
            .fa {
                font-size: 29px;
                color: #fff;
                text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 58px;
                background-color: #434d63;
            } 
        }
    }
    .custom-card-body {
        display: flex;    
		height: calc(100% - 40px);
        float: left;
        width: 100%;
        min-height: 250px;
    }
}