.datatable-wrapper {
	&.custom {
		float: left;
		width: 100%;
		height: 100%;
		.dataTables_wrapper {
			float: left;
			width: 100%;
			height: 100%;
			#orden-compra-datatable_info {
				position: absolute;
				bottom: 0;
				z-index: 1;
				padding: 10px 10px;
				font-size: 13px;
				color: #6f7071;
				text-shadow: 1px 0px 2px rgba(47, 47, 47, 0.72), 2px 2px 2px rgba(96, 185, 220, 0.4);
				font-weight: 500;
			}
			#orden-compra-datatable_paginate {
				position: absolute;
    			bottom: 0;
				z-index: 1;
				right: 0;
    			padding: 10px 10px;
			}
		}
		.datatable {
			float: left;
			width: 100%;
			border-bottom: 1px solid #bbb!important;
			box-shadow: 0px 1px 4px 0px #cccccc6b;
			margin: 0!important;
		}
		.dataTables_paginate {
			.paginate_button {
				float: left;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0px!important;
				font-size: 13px;
				width: auto;
				min-width: auto;
				height: auto;
				min-height: auto;
				&.current {
					line-height: 2;
					margin: 0 10px!important;
					width: 22px!important;
					height: 22px!important;
					border: none!important;
					background-image: none!important;
					border: 1px solid rgba(177, 170, 170, 0.8784313725490196)!important;
					box-shadow: 0 0 1px 0px rgba(105, 103, 103, 0.48);
					outline: none;
					transition: .3s cubic-bezier(0.77, 0.54, 0.51, 1.24) box-shadow;
					&:hover {
						box-shadow: 0 0 4px 0px rgba(37, 37, 37, 0.71);
					}
				}
			}
		} 
	}
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid rgba(102, 131, 156, 0.77)!important;
    padding: 10px 17px 10px 4px!important;
    background: #979aa9;
    color: white!important;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 1px rgba(130, 127, 127, 0.69), 1px 2px 3px rgba(23, 23, 23, 0.52);
    font-size: 12px!important;
}
table.dataTable.compact tbody td {
    padding: 4px;
    font-size: 12px;
	background-color: rgba(204, 211, 216, 0.49019607843137253) !important;
    color: #484848;
    font-weight: 600;
	transition: .3s cubic-bezier(0.77, 0.54, 0.51, 1.24) background-color, .3s cubic-bezier(0.77, 0.54, 0.51, 1.24) color;
	&:hover {
		background-color: rgba(179, 179, 179, 0.8117647058823529) !important;
    	color: #fff;
	}
}
table.dataTable thead .sorting_asc {
    background-image: url(DataTables-1.10.16/images/sort_asc.png)!important;
}
table.dataTable thead .sorting_desc {
    background-image: url(DataTables-1.10.16/images/sort_desc.png)!important;
}