* {
    box-sizing: border-box;
    outline: none !important;
}
body {
    font-family: 'Roboto', sans-serif;  
}

input, select { 
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 4px;
}

input:focus, select:focus {
    border: 3px solid #dab42e;
}

.row {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-right: 0!important;
    margin-left: 0!important;
}
.half-row {
    position: relative;
    z-index: 1;
}
.opacity-mask-1 {
    background-color: rgba(0, 0, 0, 0.4);
} 
//DataTable
.table-main-wrapper {
	float: left;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	.table-header {
		background-color: #505358;
		display: flex;
		padding: 5px;
		color: #fff;
		box-shadow: 0px 2px 4px 0px rgba(113, 113, 113, 0.65);
    	z-index: 4;
		justify-content: space-between;
		.table-description {
			font-size: 14px;
		}
	}
}

table.dataTable.compact thead th, table.dataTable.compact thead td {
	font-size: 13px;
    color: #928b8b;
}
.dataTables_length {
	display: none;
}
.dataTables_filter {
	label {
		display: flex;
		align-items: center;
		font-size: 13.5px;
		margin: 0;
		input {
			height: auto;
			font-size: 12px;
			border: 0;
			border-bottom: 1px solid #7ac3f7;
			border-radius: 3px;
			margin-left: 10px;
			padding: 0 4px;
			color: #686869;
			font-weight: bold;
		}
	}
}
.datatable {
	table-layout: fixed;
	td {
		white-space: nowrap;
		width: 20%;
	}
} 

//Tabla de Roles
table#rolesForm{
    padding: 5px;
    text-align: left;
    width: 100%; 
    td{
        padding: 5px;
    }
    .listaPerfiles{
        -webkit-appearance: listbox;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: scroll;
        vertical-align: text-bottom;
        /* white-space: nowrap; */
        border-width: 1px;
        border-style: inset;
        border-color: #ccc; 
        border-image: initial;
        border-radius: initial;
        height: 200px;
        input{
            width:30px;
        }
    }

}

//Tabla de Perfiles
table#perfilesForm {
    padding: 5px;
    text-align: left;
    width: 100%;
    .panel {
        width: 30%;
        padding-top: 10px;
        input {
            width: 15px;
        }
    }
}

//Sidebar
.sidebar-container {
    position: fixed;
    top: 40px;
    height: calc(100vh - 40px);
    background-color: #6e7a94;
    white-space: nowrap;
    left: 0;
	z-index: 5;
    &.short {
        width: 40px;
        .sidebar-item {
            .item-title {
                display: none;
            }
            .chevron {
                display: none;
            }
            &:hover {
                >a {
                    width: 260px;
                    text-decoration: none;
                    >.fa {
                        flex-grow: 0;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    >span {
                        flex-grow: 1;
                        padding: 0 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .item-title {
                        display: block;
                    }
                    .chevron {
                        display: block;
                    }
                }
                .sidebar-submenu {
                    display: flex;
                }
                
            }
        }
    }
    .sidebar {
        float: left;
        width: 100%;
        >nav {
            float: left;
            width: 100%;
        }
        ul {
            float: left;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .sidebar-item {
            position: relative;
            z-index: 1;
            >a {
                position: relative;
                z-index: 1;
                width: 40px;
                height: 40px;
                background: #586e95;
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .fa {
                    font-size: 25px;
                    color: #fff;
                }
                .chevron {
                    font-size: 15px;
                }
                .item-title {
                    color: #fff;
                    font-size: 19px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 1px;
                    width: 100%;
                    background-color: #fff;
                }
            }
        }
        .sidebar-submenu {
            display: none;
            flex-direction: column;
            width: calc(260px - 44px);
            position: absolute;
            left: 44px;
            top: 40px;
            .sidebar-item {
                .item-title {
                    display: block;
                }
                .chevron {
                    display: block;
                }
                a{
                    width: 100%;
                    justify-content: flex-start;
                    background: #2f3b50;
                    &:hover {
                        background: #9a9ea4;
                    }
                    >span {
                        padding: 0 10px;
                    }
                    .item-title {
                        font-size: 16px!important;
                    }
                }
            }
        }
    }
}

//Dashboard Container Main
#dashboard-container-main {
    height: 100vh;
    padding: 40px 0 0 40px;
    background-image: url("/img/wave.bg.png");
    background-repeat: no-repeat;
    background-color: #eaeaea;

}

#layout {
    height: 100%;
    padding: 20px;
    //background-color: #eaeaea;
}
//Mod. Inventario
.inventario {
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    .flex-container {
        display: flex;
        //background-color: #eaeaea99;
        flex-wrap: wrap;
        div {
            //background-color: #e26161;
            width: 250px;
            margin: 3px;
            text-align: left;
            line-height: 15px;
            //font-size: 30px;
            }
            div.valor{
                width: 183px;
                input{
                    text-align: right;
                }
            }
            .listaPerfiles{
                width: 100%;
                -webkit-appearance: listbox;
                align-items: flex-start;
                overflow-x: hidden;
                overflow-y: scroll;
                vertical-align: text-bottom;
                white-space: nowrap; 
                background-color: white;
                border-image: initial;
                border-radius: initial;
                height: 120px;
                table, th, td {
                    width: 100%;
                    border: 1px solid #eaeaea99;
                    padding: 5px;
                    td{
                        text-align: right;
                    }
                }
            }
    }
    .fa{
        margin: 5px;
    }
    .montos{
        input{
            width: 50%;
            text-align: right;
        }
    }
    input{
        width: 90%;
    }      
    select{
        width: 60px
    }
    h2{
		background-color: #586e95;
		color: white;
		padding: 7px;
		font-size: 13px;
    }
}

//Moneda

.moneda{
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    .flex-container {
        display: flex;
        //background-color: #eaeaea99;
        flex-wrap: wrap;
        div {
            //background-color: #e26161;
            width: 230px;
            margin: 3px;
            text-align: left;
            line-height: 15px;
            //font-size: 30px;
            }
    }
    h2{
        background-color: #586e95;
        color: white;
        padding: 7px;
    }
    input{
        width: 90%;
    } 
    .fa{
        margin: 3px;
    }
    select{
        width: 60px
    }
}


//Seccion de Modal
/* Modal */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    .modal-content {
        background-color: #fefefe;
        //margin: 15% auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        border: 1px solid #888;
        width: 60%;
        .card-body-modal {
            height: 100%;
            float: left;
            width: 100%;
            background-color: #fff;
            .form-container{
                padding: 20px;
                width: 100%;  
                .input-wrapper {
                    padding: 10px;
                }                      
            }
        }
        .card-header {
            float: left;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            background-color: #262e40;
            .card-info {
                display: flex;
                align-items: center;
                height: 100%;
                .fa {
                    font-size: 26px;
                    color: #fff;
                    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    background-color: #a5393a;
                }
                .card-title {
                    color: #fff;
                    margin-left: 10px;
                    font-size: 22px;
                    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.78);
                }
            }
            .card-actions {
                display: flex;
                align-items: center;
                height: 100%;
                .fa {
                    font-size: 29px;
                    color: #fff;
                    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 58px;
                    background-color: #434d63;
                } 
            }
        }
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            div {
                width: 250px;
                margin: 3px;
                text-align: left;
                line-height: 15px;
                padding: 10px;
                input{
                    width: 90%;
                    
                }      
            }
            .table-modal{
                width: 100%;
                overflow: auto;
                height: 200px;
                th{
                    border: 1px solid #ccc;
                }
                
                td{
                    background-color: #fff;
                    border: 1px solid #ccc;
                }
            }
        }
    }
}
//Disaster
#formulario th, td {
    padding: 5px;
    text-align: left;    
    width: 50%;
}
#formulario th{
    background-color: #eaeaea99;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; 
}

label {
    font-size: 15px;
    font-weight: 500;
}

button {
    border: none;
    color: #fff;
    padding: 10px 16px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    i{
        padding-right: 5px;
    }
  }
  
button:hover {opacity: 1}

.Botonera {
	text-align: right;
    float: left;
    width: 100%;
    padding: 10px;
    .buttonRed{
        background-color: #f4511e;
    }
    
    .buttonYellow{
        background-color: #eebe0b;
    }
    
    .buttonGreen{
        background-color:#4CAF50;
    }
}

.row {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-right: 0!important;
    margin-left: 0!important;
}
.half-row {
    position: relative;
    z-index: 1;
}
.opacity-mask-1 {
    background-color: rgba(0, 0, 0, 0.4);
} 


//Header
.header-container {
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px rgba(65, 64, 64, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    .action_logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: inherit;
        .menu-toggler {
            font-size: 33px;
            color: #444b57;
            margin: 0 16px;
            cursor: pointer;
        }
    }
    .app-title {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        .app-logo {
            width: 35px;
            @at-root {
                .app-logo {
                    max-width: 40px;
                }
            }
        }
        > span {
            font-size: 26px;
            color: rgb(72, 71, 71);
            text-shadow: 0.908px 1.782px 1.98px rgba(150, 149, 149, 0.51);
        }
    }
    .user-actions {
        height: inherit;
        .user-menu {
            padding: 0 15px;
            background-color: rgba(113, 144, 212, 0.86);
            color: #fff;
            height: inherit;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: .4s cubic-bezier(0.49, 0.19, 0.3, 0.81) background-color;
            &:hover {
                background-color: #c74546;
            }
            img {
                width: 30px;
                margin-right: 14px;
            }
            > span {
                font-size: 20px;
                color: #fff;
                margin-right: 10px;
            }
        }
    }	
}


//MIGRARRRRR
//Compras
.left-box-container {
	flex-grow: 0;
}
.two-col {
	float: left;
    width: 100%;
    margin-top: 20px;
	display: flex;
	.table-main-wrapper {
		flex-grow: 1;
    	flex-basis: 70%;
    	box-shadow: 0px 0px 3px 1px rgba(113, 113, 113, 0.5);
	}
}

//Datatable
@import '_datatable.scss';
//Card
@import '_cards.scss';
//Otros
.form-container {
    width: 100%;
    margin: 10px;
}
.full-width {
	float: left;
	width: 100%;
	&.padding {
		padding: 15px;
		.card-main-wrapper:last-child {
			margin-top: 0px!important;
		}
	}
	.card-header {
		padding: 8px;
	}
		.card-title {
			font-size: 18px;
		}
	>.card-main-wrapper {
		float: left;
		width: 100%;
	}
	.vertical-list-input {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		ul {
			float: none;
			width: 70%;
			li {
				font-size: 26px;
			} 
		}
	}
}
.step-text {
	color: #3d3b3e;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(97, 95, 95, 0.5);
}
//C
.custom-btn {
	color: #404040;
    background: #c3c3c3;
    font-size: 18px;
    border-radius: 3px;
	&.next{
		
	}
	&.back {
		
	}
}
.custom-select {
	box-shadow: 0 0 5px 0px rgba(111, 111, 111, 0.51);
	&.big {
		font-size: 16px;
		color: #7b7777;
	}
	&:focus {
		border: 1px solid #ccc!important;
	}
}
.only-one-heading {
	font-size: 20px;
    color: #464646;
}
.custom-slider-wrapper {
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	.slide {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		float: left;
		width: 100%;
		height: 100%;
		background-color: #fff;
		&.active {
			left: 0!important;
		}
	}
	#second-step {
		left: 100%;
    	z-index: 2;
	}
}

.cardSmall {
    width: 40%;
}

.card-body-small{
    display: flex;
    //height: 100%;
    //width: 100%;
    //background-color: #eaeaea99;
    form.smallView {
        margin: 20px;
    }
    .smallView.flex-container{
        display: flex;
        flex-wrap: wrap;
        
    }
    .Botonera{
        width: 1200px;
        padding: 15px;
        margin: 20px;
        button{
            width: 120px;
        }
    }
    input{
        width: 90%;
    }
}

.cardMedium {
    width: 60%;
}

//Datatable
@import '_datatable.scss'


