@charset "UTF-8";
* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  font-family: 'Roboto', sans-serif;
}

input, select {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
}

input:focus, select:focus {
  border: 3px solid #dab42e;
}

.row {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.half-row {
  position: relative;
  z-index: 1;
}

.opacity-mask-1 {
  background-color: rgba(0, 0, 0, 0.4);
}

.table-main-wrapper {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table-main-wrapper .table-header {
  background-color: #505358;
  display: flex;
  padding: 5px;
  color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(113, 113, 113, 0.65);
  z-index: 4;
  justify-content: space-between;
}

.table-main-wrapper .table-header .table-description {
  font-size: 14px;
}

table.dataTable.compact thead th, table.dataTable.compact thead td {
  font-size: 13px;
  color: #928b8b;
}

.dataTables_length {
  display: none;
}

.dataTables_filter label {
  display: flex;
  align-items: center;
  font-size: 13.5px;
  margin: 0;
}

.dataTables_filter label input {
  height: auto;
  font-size: 12px;
  border: 0;
  border-bottom: 1px solid #7ac3f7;
  border-radius: 3px;
  margin-left: 10px;
  padding: 0 4px;
  color: #686869;
  font-weight: bold;
}

.datatable {
  table-layout: fixed;
}

.datatable td {
  white-space: nowrap;
  width: 20%;
}

table#rolesForm {
  padding: 5px;
  text-align: left;
  width: 100%;
}

table#rolesForm td {
  padding: 5px;
}

table#rolesForm .listaPerfiles {
  -webkit-appearance: listbox;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  vertical-align: text-bottom;
  /* white-space: nowrap; */
  border-width: 1px;
  border-style: inset;
  border-color: #ccc;
  border-image: initial;
  border-radius: initial;
  height: 200px;
}

table#rolesForm .listaPerfiles input {
  width: 30px;
}

table#perfilesForm {
  padding: 5px;
  text-align: left;
  width: 100%;
}

table#perfilesForm .panel {
  width: 30%;
  padding-top: 10px;
}

table#perfilesForm .panel input {
  width: 15px;
}

.sidebar-container {
  position: fixed;
  top: 40px;
  height: calc(100vh - 40px);
  background-color: #6e7a94;
  white-space: nowrap;
  left: 0;
  z-index: 5;
}

.sidebar-container.short {
  width: 40px;
}

.sidebar-container.short .sidebar-item .item-title {
  display: none;
}

.sidebar-container.short .sidebar-item .chevron {
  display: none;
}

.sidebar-container.short .sidebar-item:hover > a {
  width: 260px;
  text-decoration: none;
}

.sidebar-container.short .sidebar-item:hover > a > .fa {
  flex-grow: 0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-container.short .sidebar-item:hover > a > span {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-container.short .sidebar-item:hover > a .item-title {
  display: block;
}

.sidebar-container.short .sidebar-item:hover > a .chevron {
  display: block;
}

.sidebar-container.short .sidebar-item:hover .sidebar-submenu {
  display: flex;
}

.sidebar-container .sidebar {
  float: left;
  width: 100%;
}

.sidebar-container .sidebar > nav {
  float: left;
  width: 100%;
}

.sidebar-container .sidebar ul {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-container .sidebar .sidebar-item {
  position: relative;
  z-index: 1;
}

.sidebar-container .sidebar .sidebar-item > a {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: #586e95;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-container .sidebar .sidebar-item > a .fa {
  font-size: 25px;
  color: #fff;
}

.sidebar-container .sidebar .sidebar-item > a .chevron {
  font-size: 15px;
}

.sidebar-container .sidebar .sidebar-item > a .item-title {
  color: #fff;
  font-size: 19px;
}

.sidebar-container .sidebar .sidebar-item > a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.sidebar-container .sidebar .sidebar-submenu {
  display: none;
  flex-direction: column;
  width: calc(260px - 44px);
  position: absolute;
  left: 44px;
  top: 40px;
}

.sidebar-container .sidebar .sidebar-submenu .sidebar-item .item-title {
  display: block;
}

.sidebar-container .sidebar .sidebar-submenu .sidebar-item .chevron {
  display: block;
}

.sidebar-container .sidebar .sidebar-submenu .sidebar-item a {
  width: 100%;
  justify-content: flex-start;
  background: #2f3b50;
}

.sidebar-container .sidebar .sidebar-submenu .sidebar-item a:hover {
  background: #9a9ea4;
}

.sidebar-container .sidebar .sidebar-submenu .sidebar-item a > span {
  padding: 0 10px;
}

.sidebar-container .sidebar .sidebar-submenu .sidebar-item a .item-title {
  font-size: 16px !important;
}

#dashboard-container-main {
  height: 100vh;
  padding: 40px 0 0 40px;
  background-image: url("/img/wave.bg.png");
  background-repeat: no-repeat;
  background-color: #eaeaea;
}

#layout {
  height: 100%;
  padding: 20px;
}

.inventario {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
}

.inventario .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.inventario .flex-container div {
  width: 250px;
  margin: 3px;
  text-align: left;
  line-height: 15px;
}

.inventario .flex-container div.valor {
  width: 183px;
}

.inventario .flex-container div.valor input {
  text-align: right;
}

.inventario .flex-container .listaPerfiles {
  width: 100%;
  -webkit-appearance: listbox;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  vertical-align: text-bottom;
  white-space: nowrap;
  background-color: white;
  border-image: initial;
  border-radius: initial;
  height: 120px;
}

.inventario .flex-container .listaPerfiles table, .inventario .flex-container .listaPerfiles th, .inventario .flex-container .listaPerfiles td {
  width: 100%;
  border: 1px solid #eaeaea99;
  padding: 5px;
}

.inventario .flex-container .listaPerfiles table td, .inventario .flex-container .listaPerfiles th td, .inventario .flex-container .listaPerfiles td td {
  text-align: right;
}

.inventario .fa {
  margin: 5px;
}

.inventario .montos input {
  width: 50%;
  text-align: right;
}

.inventario input {
  width: 90%;
}

.inventario select {
  width: 60px;
}

.inventario h2 {
  background-color: #586e95;
  color: white;
  padding: 7px;
  font-size: 13px;
}

.moneda {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
}

.moneda .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.moneda .flex-container div {
  width: 230px;
  margin: 3px;
  text-align: left;
  line-height: 15px;
}

.moneda h2 {
  background-color: #586e95;
  color: white;
  padding: 7px;
}

.moneda input {
  width: 90%;
}

.moneda .fa {
  margin: 3px;
}

.moneda select {
  width: 60px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  background-color: #fefefe;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 60%;
}

.modal .modal-content .card-body-modal {
  height: 100%;
  float: left;
  width: 100%;
  background-color: #fff;
}

.modal .modal-content .card-body-modal .form-container {
  padding: 20px;
  width: 100%;
}

.modal .modal-content .card-body-modal .form-container .input-wrapper {
  padding: 10px;
}

.modal .modal-content .card-header {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #262e40;
}

.modal .modal-content .card-header .card-info {
  display: flex;
  align-items: center;
  height: 100%;
}

.modal .modal-content .card-header .card-info .fa {
  font-size: 26px;
  color: #fff;
  text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  background-color: #a5393a;
}

.modal .modal-content .card-header .card-info .card-title {
  color: #fff;
  margin-left: 10px;
  font-size: 22px;
  text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.78);
}

.modal .modal-content .card-header .card-actions {
  display: flex;
  align-items: center;
  height: 100%;
}

.modal .modal-content .card-header .card-actions .fa {
  font-size: 29px;
  color: #fff;
  text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  background-color: #434d63;
}

.modal .modal-content .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.modal .modal-content .flex-container div {
  width: 250px;
  margin: 3px;
  text-align: left;
  line-height: 15px;
  padding: 10px;
}

.modal .modal-content .flex-container div input {
  width: 90%;
}

.modal .modal-content .flex-container .table-modal {
  width: 100%;
  overflow: auto;
  height: 200px;
}

.modal .modal-content .flex-container .table-modal th {
  border: 1px solid #ccc;
}

.modal .modal-content .flex-container .table-modal td {
  background-color: #fff;
  border: 1px solid #ccc;
}

#formulario th, td {
  padding: 5px;
  text-align: left;
  width: 50%;
}

#formulario th {
  background-color: #eaeaea99;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

label {
  font-size: 15px;
  font-weight: 500;
}

button {
  border: none;
  color: #fff;
  padding: 10px 16px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

button i {
  padding-right: 5px;
}

button:hover {
  opacity: 1;
}

.Botonera {
  text-align: right;
  float: left;
  width: 100%;
  padding: 10px;
}

.Botonera .buttonRed {
  background-color: #f4511e;
}

.Botonera .buttonYellow {
  background-color: #eebe0b;
}

.Botonera .buttonGreen {
  background-color: #4CAF50;
}

.row {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.half-row {
  position: relative;
  z-index: 1;
}

.opacity-mask-1 {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-container {
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(65, 64, 64, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
}

.header-container .action_logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: inherit;
}

.header-container .action_logo .menu-toggler {
  font-size: 33px;
  color: #444b57;
  margin: 0 16px;
  cursor: pointer;
}

.header-container .app-title {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.header-container .app-title .app-logo {
  width: 35px;
}

.app-logo {
  max-width: 40px;
}

.header-container .app-title > span {
  font-size: 26px;
  color: #484747;
  text-shadow: 0.908px 1.782px 1.98px rgba(150, 149, 149, 0.51);
}

.header-container .user-actions {
  height: inherit;
}

.header-container .user-actions .user-menu {
  padding: 0 15px;
  background-color: rgba(113, 144, 212, 0.86);
  color: #fff;
  height: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.49, 0.19, 0.3, 0.81) background-color;
}

.header-container .user-actions .user-menu:hover {
  background-color: #c74546;
}

.header-container .user-actions .user-menu img {
  width: 30px;
  margin-right: 14px;
}

.header-container .user-actions .user-menu > span {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}

.left-box-container {
  flex-grow: 0;
}

.two-col {
  float: left;
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.two-col .table-main-wrapper {
  flex-grow: 1;
  flex-basis: 70%;
  box-shadow: 0px 0px 3px 1px rgba(113, 113, 113, 0.5);
}

.datatable-wrapper.custom {
  float: left;
  width: 100%;
  height: 100%;
}

.datatable-wrapper.custom .dataTables_wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

.datatable-wrapper.custom .dataTables_wrapper #orden-compra-datatable_info {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 10px 10px;
  font-size: 13px;
  color: #6f7071;
  text-shadow: 1px 0px 2px rgba(47, 47, 47, 0.72), 2px 2px 2px rgba(96, 185, 220, 0.4);
  font-weight: 500;
}

.datatable-wrapper.custom .dataTables_wrapper #orden-compra-datatable_paginate {
  position: absolute;
  bottom: 0;
  z-index: 1;
  right: 0;
  padding: 10px 10px;
}

.datatable-wrapper.custom .datatable {
  float: left;
  width: 100%;
  border-bottom: 1px solid #bbb !important;
  box-shadow: 0px 1px 4px 0px #cccccc6b;
  margin: 0 !important;
}

.datatable-wrapper.custom .dataTables_paginate .paginate_button {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  font-size: 13px;
  width: auto;
  min-width: auto;
  height: auto;
  min-height: auto;
}

.datatable-wrapper.custom .dataTables_paginate .paginate_button.current {
  line-height: 2;
  margin: 0 10px !important;
  width: 22px !important;
  height: 22px !important;
  border: none !important;
  background-image: none !important;
  border: 1px solid rgba(177, 170, 170, 0.878431) !important;
  box-shadow: 0 0 1px 0px rgba(105, 103, 103, 0.48);
  outline: none;
  transition: 0.3s cubic-bezier(0.77, 0.54, 0.51, 1.24) box-shadow;
}

.datatable-wrapper.custom .dataTables_paginate .paginate_button.current:hover {
  box-shadow: 0 0 4px 0px rgba(37, 37, 37, 0.71);
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid rgba(102, 131, 156, 0.77) !important;
  padding: 10px 17px 10px 4px !important;
  background: #979aa9;
  color: white !important;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(130, 127, 127, 0.69), 1px 2px 3px rgba(23, 23, 23, 0.52);
  font-size: 12px !important;
}

table.dataTable.compact tbody td {
  padding: 4px;
  font-size: 12px;
  background-color: rgba(204, 211, 216, 0.490196) !important;
  color: #484848;
  font-weight: 600;
  transition: 0.3s cubic-bezier(0.77, 0.54, 0.51, 1.24) background-color, 0.3s cubic-bezier(0.77, 0.54, 0.51, 1.24) color;
}

table.dataTable.compact tbody td:hover {
  background-color: rgba(179, 179, 179, 0.811765) !important;
  color: #fff;
}

table.dataTable thead .sorting_asc {
  background-image: url(DataTables-1.10.16/images/sort_asc.png) !important;
}

table.dataTable thead .sorting_desc {
  background-image: url(DataTables-1.10.16/images/sort_desc.png) !important;
}

/*
	//----- Codigo y comentarios de Victor Moreno, de añadir clases extras, 
	//----- favor comentar la fecha y la persona que lo hizo u-u
*/
/*
	Contenedor especial de la caja, 
	la card podria estar bien sola pero es mejor llevarla asi,
	utilizar las clases extras para alcanzar el efecto deseado.
*/
.card-main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  box-shadow: 0px 0px 3px 1px rgba(113, 113, 113, 0.5);
}

.card-main-wrapper.only-one {
  margin: 0px;
  height: 100%;
}

.card-main-wrapper:last-child {
  margin-top: 10px;
}

.card-main-wrapper .card-header {
  background-color: #505358;
  display: flex;
  padding: 5px;
  color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(113, 113, 113, 0.65);
  z-index: 4;
  justify-content: space-between;
  border-radius: 0 !important;
  border-bottom: none !important;
}

.card-main-wrapper .card-header .card-title {
  font-size: 14px;
  margin: 0;
}

.card-main-wrapper .vertical-list-input ul {
  float: left;
  width: 100%;
  max-width: 446px;
}

.card-main-wrapper .vertical-list-input ul li {
  font-size: 12px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
}

.card-main-wrapper .vertical-list-input ul li:last-child {
  margin-bottom: 0px;
}

.card-main-wrapper .vertical-list-input ul li .value {
  width: 100px;
  height: 25px;
  border-bottom: 1px solid #888;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  padding: 0 10px;
}

.custom-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 1px rgba(145, 144, 144, 0.75);
  float: left;
  width: 100%;
}

.custom-card.full {
  height: 100%;
}

.custom-card .custom-card-header {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #262e40;
}

.custom-card .custom-card-header .custom-card-info {
  display: flex;
  align-items: center;
  height: 100%;
}

.custom-card .custom-card-header .custom-card-info .fa {
  font-size: 26px;
  color: #fff;
  text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  background-color: #a5393a;
}

.custom-card .custom-card-header .custom-card-info .custom-card-title {
  color: #fff;
  margin-left: 10px;
  font-size: 22px;
  text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.78);
}

.custom-card .custom-card-header .custom-card-actions {
  display: flex;
  align-items: center;
  height: 100%;
}

.custom-card .custom-card-header .custom-card-actions .fa {
  font-size: 29px;
  color: #fff;
  text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  background-color: #434d63;
}

.custom-card .custom-card-body {
  display: flex;
  height: calc(100% - 40px);
  float: left;
  width: 100%;
  min-height: 250px;
}

.form-container {
  width: 100%;
  margin: 10px;
}

.full-width {
  float: left;
  width: 100%;
}

.full-width.padding {
  padding: 15px;
}

.full-width.padding .card-main-wrapper:last-child {
  margin-top: 0px !important;
}

.full-width .card-header {
  padding: 8px;
}

.full-width .card-title {
  font-size: 18px;
}

.full-width > .card-main-wrapper {
  float: left;
  width: 100%;
}

.full-width .vertical-list-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width .vertical-list-input ul {
  float: none;
  width: 70%;
}

.full-width .vertical-list-input ul li {
  font-size: 26px;
}

.step-text {
  color: #3d3b3e;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(97, 95, 95, 0.5);
}

.custom-btn {
  color: #404040;
  background: #c3c3c3;
  font-size: 18px;
  border-radius: 3px;
}

.custom-select {
  box-shadow: 0 0 5px 0px rgba(111, 111, 111, 0.51);
}

.custom-select.big {
  font-size: 16px;
  color: #7b7777;
}

.custom-select:focus {
  border: 1px solid #ccc !important;
}

.only-one-heading {
  font-size: 20px;
  color: #464646;
}

.custom-slider-wrapper {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.custom-slider-wrapper .slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  float: left;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.custom-slider-wrapper .slide.active {
  left: 0 !important;
}

.custom-slider-wrapper #second-step {
  left: 100%;
  z-index: 2;
}

.cardSmall {
  width: 40%;
}

.card-body-small {
  display: flex;
}

.card-body-small form.smallView {
  margin: 20px;
}

.card-body-small .smallView.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card-body-small .Botonera {
  width: 1200px;
  padding: 15px;
  margin: 20px;
}

.card-body-small .Botonera button {
  width: 120px;
}

.card-body-small input {
  width: 90%;
}

.cardMedium {
  width: 60%;
}

.datatable-wrapper.custom {
  float: left;
  width: 100%;
  height: 100%;
}

.datatable-wrapper.custom .dataTables_wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

.datatable-wrapper.custom .dataTables_wrapper #orden-compra-datatable_info {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 10px 10px;
  font-size: 13px;
  color: #6f7071;
  text-shadow: 1px 0px 2px rgba(47, 47, 47, 0.72), 2px 2px 2px rgba(96, 185, 220, 0.4);
  font-weight: 500;
}

.datatable-wrapper.custom .dataTables_wrapper #orden-compra-datatable_paginate {
  position: absolute;
  bottom: 0;
  z-index: 1;
  right: 0;
  padding: 10px 10px;
}

.datatable-wrapper.custom .datatable {
  float: left;
  width: 100%;
  border-bottom: 1px solid #bbb !important;
  box-shadow: 0px 1px 4px 0px #cccccc6b;
  margin: 0 !important;
}

.datatable-wrapper.custom .dataTables_paginate .paginate_button {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  font-size: 13px;
  width: auto;
  min-width: auto;
  height: auto;
  min-height: auto;
}

.datatable-wrapper.custom .dataTables_paginate .paginate_button.current {
  line-height: 2;
  margin: 0 10px !important;
  width: 22px !important;
  height: 22px !important;
  border: none !important;
  background-image: none !important;
  border: 1px solid rgba(177, 170, 170, 0.878431) !important;
  box-shadow: 0 0 1px 0px rgba(105, 103, 103, 0.48);
  outline: none;
  transition: 0.3s cubic-bezier(0.77, 0.54, 0.51, 1.24) box-shadow;
}

.datatable-wrapper.custom .dataTables_paginate .paginate_button.current:hover {
  box-shadow: 0 0 4px 0px rgba(37, 37, 37, 0.71);
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid rgba(102, 131, 156, 0.77) !important;
  padding: 10px 17px 10px 4px !important;
  background: #979aa9;
  color: white !important;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(130, 127, 127, 0.69), 1px 2px 3px rgba(23, 23, 23, 0.52);
  font-size: 12px !important;
}

table.dataTable.compact tbody td {
  padding: 4px;
  font-size: 12px;
  background-color: rgba(204, 211, 216, 0.490196) !important;
  color: #484848;
  font-weight: 600;
  transition: 0.3s cubic-bezier(0.77, 0.54, 0.51, 1.24) background-color, 0.3s cubic-bezier(0.77, 0.54, 0.51, 1.24) color;
}

table.dataTable.compact tbody td:hover {
  background-color: rgba(179, 179, 179, 0.811765) !important;
  color: #fff;
}

table.dataTable thead .sorting_asc {
  background-image: url(DataTables-1.10.16/images/sort_asc.png) !important;
}

table.dataTable thead .sorting_desc {
  background-image: url(DataTables-1.10.16/images/sort_desc.png) !important;
}
