#container-main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url(/img/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#container-main .half-row {
  flex-basis: 50%;
}

#login-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marco {
  padding: 30px 20px;
  text-align: -webkit-center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselExampleSlidesOnly .carousel-inner .carousel-item {
  width: 550px;
  height: 550px;
  border: white 2px solid;
  box-shadow: 2px 2px 3px black;
}

.login-form-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #9099a3;
  background-image: linear-gradient(180deg, #9099a3 0%, #d5d5d5 46%, #ffffff 100%);
  /*background-color: #fff;
    */
}

.login-form-container .login-form {
  padding: 20px;
  max-width: 1920px;
  width: 70%;
}

.login-logo {
  width: 97px;
  position: relative;
  top: 5px;
  margin-right: -8px;
}

#login-title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  color: #000;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.login-input-wrapper {
  position: relative;
  height: 50px;
  margin-bottom: 30px;
}

.login-input-wrapper:last-child {
  margin-bottom: 0px;
}

.login-input-wrapper.submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input-wrapper.submit-wrapper .submit-btn {
  padding: 20px;
  font-size: 16px;
  color: #585858;
  background: white;
  box-shadow: 1px 1px 4px 1px rgba(165, 164, 164, 0.38);
  border-radius: 3px;
  transition: all 0.4s cubic-bezier(0.51, 0.15, 0.24, 0.81);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.login-input-wrapper.submit-wrapper .submit-btn:hover {
  background: #94868d;
  color: #fff;
}

.login-input-wrapper.row a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 3px black;
  padding-right: 30px;
}

.login-input-wrapper.socialNetwork {
  padding-top: 100px;
}

.login-input-wrapper.socialNetwork a {
  color: #eebe0b;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.login-input-wrapper.derechosReservados {
  padding-top: 50px;
  font-size: 12px;
}

.login-input-wrapper input {
  width: 100%;
  float: left;
  height: 100%;
  border-radius: 3px;
  padding: 0 10px 0 60px;
  font-size: 16px;
  font-weight: 400;
  color: #585858;
  box-shadow: 1px 1px 4px 1px rgba(165, 164, 164, 0.38);
}

.login-input-wrapper input:focus {
  color: #6c7997;
}

.login-input-wrapper input:focus + .input-icon {
  text-shadow: 1.5px 1.5px 1px rgba(129, 126, 126, 0.87);
  background-color: #6c7997;
  color: #fff;
}

.login-input-wrapper .input-icon {
  position: absolute;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 5px;
  border-radius: 3px 0 0 3px;
  border-right: 1px solid rgba(57, 57, 57, 0.575);
  font-size: 26px;
  color: #676767;
  text-shadow: 0px 0px 1px rgba(129, 126, 126, 0.17);
  transition: all 0.4s cubic-bezier(0.51, 0.15, 0.24, 0.81);
}
