*{

padding: 0px; 
margin: 0px; 
}

/* GENERAL RESETS */
* {
    margin: 0;
    padding: 0;
}
html, body  {
  box-sizing: border-box;
  position: relative;
    font-family: Tahoma, Arial; 
    color:#0000;
    background-image: url("../img/login-bg.jpg");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    box-sizing: border-box;
    font-size: 12px; 
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
    color: #0000;
    text-decoration: none;
}
a:hover {
    color: #4FDA8C;
}

/* BODY */


/* BUTTON */
a.button {
    position: absolute;
    left: 20px;
    top: 20px;
    height: auto;
    padding: .8rem 1.0rem;
    font-size: .8rem;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    border-radius: 0;
    border: 1px solid #2D515C;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a.button:hover {
    border-color: #2D515C;
    color: #fff;
    padding: 1.0rem 3.2rem;
}
@media only screen and (min-width: 22em) {
    a.button {
        padding: 1.0rem 2.8rem;
        font-size: 1.0rem;
    }
}

/* LOGIN */
.login {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 800vh;
}

/* WRAP */
.wrap {
    position: static;
    margin: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* LOGO */
.logo {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: ;
}
.logo img {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
}
.logo a {
    width: 100%;
    height: 100%;
    display: block;
}

/* USER (FORM WRAPPER) */
.user {
    
}
.user .actions {
    margin: 1em 0 0;
    padding-right: 50px;
    width: 100%;
    display: block;
    text-align: center;
}
.user .actions a {
    margin: 1em 0;
    width: 50px;
    display: inline-block;
    padding: .2em 0em;
    background-color: #5C6576;
    border: none;
    color: #999;
    cursor: pointer;
    text-align: center;
    font-size: .8em;
    border-radius: 0px 0 0 0px;
    -webkit-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.75);
}
.user .actions a:last-child {
    color: #fff;
    border-radius: 0 0px 0px 0;
    background-color: #28A55F;
    background: -moz-linear-gradient(270deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(105,221,201,1)), color-stop(100%, rgba(78,193,182,1)));
    background: -webkit-linear-gradient(270deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
    background: linear-gradient(180deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
}

/* TERMS */
@keyframes show_terms {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-110%);
        -moz-transform: translateY(-110%);
        -o-transform: translateY(-110%);
        transform: translateY(-110%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes hide_terms {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-110%);
        -moz-transform: translateY(-110%);
        -o-transform: translateY(-110%);
        transform: translateY(-110%);
        opacity: 0;
    }
}
.terms, .recovery {
    position: absolute;
    z-index: 3;
    margin: 40px 0 0;
    padding: 1.5em 1em;
    width: 100%;
    height: calc(100% - 40px);
    border-radius: 0;
    background: #fff;
    text-align: left;
    overflow: auto;
    will-change: transform;
    -webkit-transform: translateY(-110%);
    -moz-transform: translateY(-110%);
    -o-transform: translateY(-110%);
    transform: translateY(-110%);
    opacity: 0;
    border-radius: 0;
}
.terms.open, .recovery.open {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    animation: show_terms .5s .2s 1 ease normal forwards;
}
.terms.closed, .recovery.closed {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    animation: hide_terms .6s .2s 1 ease normal forwards;
}
.terms p, .recovery p {
    margin: 1em 0;
    font-size: .9em;

}
.terms h3, .recovery h3 {
    margin: 2em 0 .2em;
}
.terms p.small {
    margin: 0 0 1.5em;
    font-size: .8em;
}

.recovery form .input {
    margin: 0 0 .8em 0;
    padding: .8em 2em 10px 0;
    width: 100%;
    display: inline-block;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #666;
}
.recovery form .button {
    margin: 1em 0;
    padding: .2em 3em;
    width: auto;
    display: block;
    background-color: #28A55F;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: .8em;
    border-radius: 0px;
    background: rgba(62,181,169,1) 0%;
}
.form-wrap form .button:hover {
    background-color: #4FDA8C;
}
.recovery p.mssg {
    opacity: 0;
    -webkit-transition: opacity 1s .5s ease;
    -moz-transition: opacity 1s .5s ease;
    -o-transition: opacity 1s .5s ease;
    transition: opacity 1s .5s ease;
}
.recovery p.mssg.animate {
    opacity: 1;
}

/* CONTENT */
.content {
    position: fixed;
    z-index: 1;
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background: -moz-linear-gradient(90deg, rgba(62,181,169,1) 0%, rgba(111,226,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(111,226,204,1)), color-stop(100%, rgba(62,181,169,1)));
    background: -webkit-linear-gradient(90deg, rgba(62,181,169,1) 0%, rgba(111,226,204,1) 100%);
    background: linear-gradient(0deg, rgba(62,181,169,1) 0%, rgba(111,226,204,1) 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}

/* TOGGLE */
#toggle-wrap {
    position: absolute;
    z-index: 4;
    top: 40px;
    right: 17px;
    width: 80px;
    height: 1px;
}
#toggle-terms span {
  background: #fff;
  border-radius: 0;
}
/* TOGGLE TERMS */
#toggle-terms {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-transform: translate(-6px, 20px);
    -moz-transform: translate(-6px, 20px);
    -o-transform: translate(-6px, 20px);
    transform: translate(-6px, 20px);
}
/* CIRCLE EFFECT */
#toggle-terms:after {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#toggle-terms:before {
    speak: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
#toggle-terms {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#toggle-terms:after {
    top: 0px;
    left: 0px;
    padding: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    -o-transition: -o-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}
#toggle-terms.closed {
    color: rgba(0, 0, 0, 0.2);
}
#toggle-terms.closed:after {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
}

/* CLOSE ANIMATION*/
@keyframes show_close {
    0% {
        opacity: 0;
        -webkit-transform: translate(-6px, -100px);
        -moz-transform: translate(-6px, -100px);
        -o-transform: translate(-6px, -100px);
        transform: translate(-6px, -100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-6px, 20px);
        -moz-transform: translate(-6px, 20px);
        -o-transform: translate(-6px, 20px);
        transform: translate(-6px, 20px);
    }
}
@keyframes hide_close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#toggle-terms.open {
    animation: show_close .4s .5s 1 ease normal forwards;
}
#toggle-terms.closed {
    animation: hide_close .2s .0s 1 ease normal forwards;
}
#toggle-terms:hover {
    background: rgba(0, 0, 0, 0.4);
}

/* TOGGLE TERMS CROSS */
#toggle-terms #cross {
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
#toggle-terms.open #cross {
    -webkit-transition-delay: .9s;
    -moz-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#toggle-terms.open #cross span {
    position: absolute;
    z-index: 4;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
#toggle-terms.open #cross span:nth-child(1) {
    top: 15%;
    left: 19px;
    height: 70%;
    width: 1px;
}
#toggle-terms.open #cross span:nth-child(2) {
    left: 15%;
    top: 19px;
    width: 70%;
    height: 1px;
}
#toggle-terms #cross span:nth-child(1) {
    height: 0;
    -webkit-transition-delay: .625s;
    -moz-transition-delay: .625s;
    -o-transition-delay: .625s;
    transition-delay: .625s;
}
#toggle-terms #cross span:nth-child(2) {
    width: 0;
    -webkit-transition-delay: .375s;
    -moz-transition-delay: .375s;
    -o-transition-delay: .375s;
    transition-delay: .375s;
}

/* SLIDESHOW */
#slideshow {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}
#slideshow h2 {
    margin: .0em auto .0em auto;
    text-align: center;
    font-size: 1.4em;
    color: #fff;
    line-height: .5em;
}
#slideshow p {
  color: #fff;
  display: none;
}
#slideshow div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 3em;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#slideshow .one {
    background-image: url("../img/carousel/1.png");
    background-repeat: no-repeat;
    background-position: 0% 80%;
}
#slideshow .two {
    background-image: url("../img/carousel/2.png");
    background-repeat: no-repeat;
    background-position: 0% 60%;
}
#slideshow .three {
    background-image: url("../img/carousel/3.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
#slideshow .four {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

/* FORM ELEMENTS */
input {
    font: 16px/26px "Raleway", sans-serif;
}
.form-wrap {
    width: 100%;
    margin: 2em auto 0;
    
}
.form-wrap a {
    color: #000000;
    padding-bottom: 4px;
    border-bottom: 1px solid ;
}
.form-wrap a:hover {
    color: #fff;
}
.form-wrap .tabs {
    overflow: hidden;
}
.form-wrap .tabs * {
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}




.form-wrap .tabs h3 {
    
    float: left;
    width: 60%;
    height: 10px;

}
.form-wrap .tabs h3 a {
    padding: 0.5em 0;
    text-align: center;
    font-weight: 400;
    display: block;
    color: #999;
    border: 0;
 }
.form-wrap .tabs h3 a.active {
    color: #080707;
}
.form-wrap .tabs h3 a.active span {
    padding-bottom: 1px;
    border-bottom: 0px solid ;
}
.form-wrap .tabs-content {
    padding: 1.5em 3em;
    text-align: left;
    width: auto;
}
.help-action {
    padding: .4em 0 0;
    font-size: .93em;
}
.form-wrap .tabs-content div[id$="tab-content"] {
    display: none;
}
.form-wrap .tabs-content .active {
    display: block !important;
}
.form-wrap form .input {
    margin: 0 0 .8em 0;
    padding: .8em 2em 10px 0;
    width: 100%;
    display: inline-block;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #fff;
}
.form-wrap form .button {
    margin: 1em 0;
    padding: .2em 3em;
    width: auto;
    display: block;
    background-color: #28A55F;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: .8em;
    border-radius: 30px;
    background: -moz-linear-gradient(270deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(105,221,201,1)), color-stop(100%, rgba(78,193,182,1)));
    background: -webkit-linear-gradient(270deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
    background: linear-gradient(180deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
    -webkit-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
}
.form-wrap form .button:hover {
    background-color: #4FDA8C;
}
.form-wrap form .checkbox {
    margin: 1em 0;
    padding: 20px;
    visibility: hidden;
    text-align: left;
}
.form-wrap form .checkbox:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}
.form-wrap form label[for]:before {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0px;
    left: -14px;
    content: '';
    border: 1px solid #5A6374;
}
.form-wrap form label[for]:after {
    position: absolute;
    top: 1px;
    left: -10px;
    width: 15px;
    height: 8px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    background-color: transparent;
    border: solid #67DAC6;
    border-width: 0 0 3px 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.form-wrap .help-text {
    margin-top: .6em;
}
.form-wrap .help-text p {
    text-align: left;
    font-size: 14px;
}
.fa {
    display: none;
}
/* MEDIUM VIEWPORT */
@media only screen and (min-width: 40em) {
    /* GLOBAL TRANSITION */
    * {
      /*transition: .25s ease-in-out;*/
    }
    /* WRAP */
    .wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 800px;
        height: 500px;
        margin: auto;
        border-radius: 10px;
    }
    /* LOGO */
    .logo {
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        background: none;
    }
    .logo img {
        width: 100%;
    }
    @keyframes show_close {
        0% {
            opacity: 0;
            -webkit-transform: translate(-6px, -100px);
            -moz-transform: translate(-6px, -100px);
            -o-transform: translate(-6px, -100px);
            transform: translate(-6px, -100px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate(-6px, 18px);
            -moz-transform: translate(-6px, 18px);
            -o-transform: translate(-6px, 18px);
            transform: translate(-6px, 18px);
        }
    }
    /* TOGGLE WRAP */
    #toggle-wrap {
        top: 60px;
        right: calc(50% + 17px);
        height: 80px;
        overflow: hidden;
    }
    #toggle-wrap.closed {
        width: 50%;
    }
    /* TOGGLE TERMS */
    #toggle-terms {
        opacity: 1;
        -webkit-transform: translate(-6px, -100px);
        -moz-transform: translate(-6px, -100px);
        -o-transform: translate(-6px, -100px);
        transform: translate(-6px, -100px);
    }
    #toggle-terms.closed {
        opacity: 1;
        -webkit-transform: translate(-6px, 18px);
        -moz-transform: translate(-6px, 18px);
        -o-transform: translate(-6px, 18px);
        transform: translate(-6px, 18px);
    }

    /* SLIDESHOW */
    #slideshow h2 {
        margin: 4.5em 0 1em;
        font-size: 2em;
    }
    #slideshow h2 span {
        padding: 5px 0;
        border: solid #;
        border-width: 1px 0;
    }
    #slideshow p {
        display: block;
    }
    #slideshow div {
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
    }
    #slideshow .one {
        background-position: 50% 100%;
    }
    #slideshow .two {
        background-position: 50% 100%;
    }
    #slideshow .three {
        background-position: 50% 100%;
    }
    #slideshow .four {
        background-position: -40% -80%;
    }




    /* CONTENT */
    .content, .content.full {
        position: relative;
        float: left;
        width: 50%;
        height: 500px;
        -webkit-box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        -moz-box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        border-radius: 10px 0 0 10px;
    }
    /* TERMS */
    .terms, .recovery {
        position: absolute;
        width: 50%;
        height: 440px;
        float: left;
        margin: 60px 0 0;
        -webkit-box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        -moz-box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        border-radius: 0 0 0 10px;
    }
    /* USER (FORM WRAPPER) */
    .user {
        padding-top: 10;
        float:center;
        width: 50%;
        height: 800px;
        -webkit-box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        -moz-box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        box-shadow: -3px 0px 45px -6px rgba(56,75,99,0.61);
        border-radius: 0 10px 10px 0;
        border: 0;
    }
    .user .actions {
        margin: 0;
        text-align: right;
    }
    /* FORM ELEMENTS */
    .form-wrap {
        margin: 5em auto 0;
    }
    .form-wrap .tabs-content {
        padding: 1.5em 2.5em;
    }
    .tabs-content p {
        position: relative;
    }
    /* ARROW */
    .tabs-content .fa {
        position: absolute;
        top: 8px;
        left: -16px;
        display: block;
        font-size: .8em;
        color: #fff;
        opacity: .3;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: transform .3s .3s ease, opacity .6s .0s ease;
        -moz-transition: transform .3s .3s ease, opacity .6s .0s ease;
        -o-transition: transform .3s .3s ease, opacity .6s .0s ease;
        transition: transform .3s .3s ease, opacity .6s .0s ease;
    }
    .tabs-content .fa.active {
        -webkit-transform: translate(-3px, 0);
        -moz-transform: translate(-3px, 0);
        -o-transform: translate(-3px, 0);
        transform: translate(-3px, 0);
        opacity: .8;
    }
    .tabs-content .fa.inactive {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: .3;
    }
}
/* LARGE VIEWPORT */
@media only screen and (min-width: 60em) {
    /* WRAP */
    .wrap {
        width: 900px;
        height: 550px;
    }
    /* CONTENT */
    .content, .content.full {
        height: 550px;
    }
    .terms, .recovery {
        height: 490px;
    }
    /* SLIDESHOW */
    #slideshow h2 {
        margin: 4em 0 1em;
        font-size: 3em;
    }
    #slideshow .four {
        background-position: -82% -330%;
    }
    /* USER (FORM WRAPPER) */
    .user {
        height: 550px;
    }
    .form-wrap {
        margin: 5em auto 0;
    }
    .form-wrap .tabs-content {
        padding: 1.5em 4.9em;
    }
}


/* CSS */
.element {
  opacity: 0.0;
  transform: scale(0.95) translate3d(0,100%,0);
  transition: transform 400ms ease, opacity 400ms ease;
}
.element.active {
  opacity: 1.0;
  transform: scale(1.0) translate3d(0,0,0);
}
.element.inactive {
  opacity: 0.0;
  transform: scale(1) translate3d(0,0,0);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer; }

input {
  border: none;
  outline: none; }
  input:focus {
    outline: none; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

input, select {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px; }

input:focus, select:focus {
  border: 3px solid #dab42e; }

label {
  font-size: 15px;
  font-weight: 500; }

button {
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px; }
  button i {
    padding-right: 5px; }

.buttonRed {
  background-color: #f4511e; }

.buttonBlue {
  background-color: #2196F3; }

.buttonGreen {
  background-color: #4CAF50; }

button:hover {
  opacity: 1; }

.Botonera {
  padding: 0 10px;
  text-align: right; }

#search {
  width: 100px;
  color: white;
  box-sizing: border-box;
  border-radius: 0px;
  border: 0px solid #ccc;
  font-size: 12px;
  background-image: url("");
  background-color: #434d63;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.2s ease-in-out; }

#search:focus {
  width: 100%; }

/*
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;                                    
}*/
#formulario th, td {
  padding: 5px;
  text-align: left;
  width: 50%; }

#formulario th {
  background-color: #eaeaea99;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px; }

.row {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-right: 0 !important;
  margin-left: 0 !important; }

.half-row {
  position: relative;
  z-index: 1; }

.opacity-mask-1 {
  background-color: rgba(0, 0, 0, 0.4); }

.header-container {
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(65, 64, 64, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0; }
  .header-container .action_logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: inherit; }
    .header-container .action_logo .menu-toggler {
      font-size: 33px;
      color: #444b57;
      margin: 0 16px;
      cursor: pointer; }
  .header-container .app-title {
    display: flex;
    align-items: center;
    padding-left: 5px; }
    .header-container .app-title .app-logo {
      width: 35px; }
      .app-logo {
        max-width: 40px; }
    .header-container .app-title > span {
      font-size: 26px;
      color: #484747;
      text-shadow: 0.908px 1.782px 1.98px rgba(150, 149, 149, 0.51); }
  .header-container .user-actions {
    height: inherit; }
    .header-container .user-actions .user-menu {
      padding: 0 15px;
      background-color: rgba(113, 144, 212, 0.86);
      color: #fff;
      height: inherit;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.4s cubic-bezier(0.49, 0.19, 0.3, 0.81) background-color; }
      .header-container .user-actions .user-menu:hover {
        background-color: #c74546; }
      .header-container .user-actions .user-menu img {
        width: 30px;
        margin-right: 14px; }
      .header-container .user-actions .user-menu > span {
        font-size: 20px;
        color: #fff;
        margin-right: 10px; }

.sidebar-container {
  position: fixed;
  top: 40px;
  height: calc(100vh - 40px);
  background-color: #6e7a94;
  white-space: nowrap;
  left: 0; }
  .sidebar-container.short {
    width: 40px; }
    .sidebar-container.short .sidebar-item .item-title {
      display: none; }
    .sidebar-container.short .sidebar-item .chevron {
      display: none; }
    .sidebar-container.short .sidebar-item:hover > a {
      width: 260px; }
      .sidebar-container.short .sidebar-item:hover > a > .fa {
        flex-grow: 0;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .sidebar-container.short .sidebar-item:hover > a > span {
        flex-grow: 1;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .sidebar-container.short .sidebar-item:hover > a .item-title {
        display: block; }
      .sidebar-container.short .sidebar-item:hover > a .chevron {
        display: block; }
    .sidebar-container.short .sidebar-item:hover .sidebar-submenu {
      display: flex; }
  .sidebar-container .sidebar {
    float: left;
    width: 100%; }
    .sidebar-container .sidebar > nav {
      float: left;
      width: 100%; }
    .sidebar-container .sidebar ul {
      float: left;
      width: 100%;
      display: flex;
      flex-direction: column; }
    .sidebar-container .sidebar .sidebar-item {
      position: relative;
      z-index: 1; }
      .sidebar-container .sidebar .sidebar-item > a {
        position: relative;
        z-index: 1;
        width: 40px;
        height: 40px;
        background: #586e95;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .sidebar-container .sidebar .sidebar-item > a .fa {
          font-size: 25px;
          color: #fff; }
        .sidebar-container .sidebar .sidebar-item > a .chevron {
          font-size: 15px; }
        .sidebar-container .sidebar .sidebar-item > a .item-title {
          color: #fff;
          font-size: 19px; }
        .sidebar-container .sidebar .sidebar-item > a:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 1px;
          width: 100%;
          background-color: #fff; }
    .sidebar-container .sidebar .sidebar-submenu {
      display: none;
      flex-direction: column;
      width: calc(260px - 44px);
      position: absolute;
      left: 44px;
      top: 40px; }
      .sidebar-container .sidebar .sidebar-submenu .sidebar-item .item-title {
        display: block; }
      .sidebar-container .sidebar .sidebar-submenu .sidebar-item .chevron {
        display: block; }
      .sidebar-container .sidebar .sidebar-submenu .sidebar-item a {
        width: 100%;
        justify-content: flex-start;
        background: #2f3b50; }
        .sidebar-container .sidebar .sidebar-submenu .sidebar-item a:hover {
          background: #9a9ea4; }
        .sidebar-container .sidebar .sidebar-submenu .sidebar-item a > span {
          padding: 0 10px; }
        .sidebar-container .sidebar .sidebar-submenu .sidebar-item a .item-title {
          font-size: 16px !important; }

#dashboard-container-main {
  height: 100vh;
  padding: 40px 0 0 40px;
  background-image: url("");
  background-repeat: no-repeat;
  background-color: #eaeaea; }

#layout {
  height: 100%;
  padding: 20px; }

.cardUsuario {
  width: 40%; }

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 1px rgba(145, 144, 144, 0.75);
  float: left;
  width: 100%; }
  .card .card-header {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #262e40; }
    .card .card-header .card-info {
      display: flex;
      align-items: center;
      height: 100%; }
      .card .card-header .card-info .fa {
        font-size: 26px;
        color: #fff;
        text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        background-color: #a5393a; }
      .card .card-header .card-info .card-title {
        color: #fff;
        margin-left: 10px;
        font-size: 22px;
        text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.78); }
    .card .card-header .card-actions {
      display: flex;
      align-items: center;
      height: 100%; }
      .card .card-header .card-actions .fa {
        font-size: 29px;
        color: #fff;
        text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.85);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 58px;
        background-color: #434d63; }
  .card .card-body {
    display: flex;
    height: 100%;
    float: left;
    width: 100%;
    min-height: 250px; }
    .card .card-body .form-container {
      padding: 20px; }
      .card .card-body .form-container .input-wrapper {
        padding: 10px; }

.modal {
  max-width: 620px; }

.modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3; }
  .modal-mask .form-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .modal-mask .form-container .input-wrapper {
      flex-basis: 100%;
      display: flex;
      align-items: center;
      padding: 20px; }
      .modal-mask .form-container .input-wrapper ├º
      label {
        flex-grow: 0; }
      .modal-mask .form-container .input-wrapper input {
        flex-grow: 1;
        background-color: gainsboro;
        padding: 10px;
        margin-left: 10px; }

#container-main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #container-main .half-row {
    flex-basis: 50%; }

.marco {
  padding: 50px 0px;
  text-align: -webkit-center; }

#carouselExampleSlidesOnly .carousel-inner .carousel-item {
  width: 550px;
  height: 550px;
  border: white 2px solid;
  box-shadow: 2px 2px 3px black; }

.login-form-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #9099a3;
  background-image: linear-gradient(180deg, #9099a3 0%, #d5d5d5 46%, #ffffff 100%);
  /*background-color: #fff;
  */ }
  .login-form-container .login-form {
    padding: 20px;
    max-width: 1920px;
    width: 70%; }

.login-logo {
  width: 97px;
  position: relative;
  top: 5px;
  margin-right: -8px; }

#login-title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  color: #000;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;
  justify-content: center; }

.login-input-wrapper {
  position: relative;
  height: 50px;
  margin-bottom: 30px; }
  .login-input-wrapper:last-child {
    margin-bottom: 0px; }
  .login-input-wrapper.submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .login-input-wrapper.submit-wrapper .submit-btn {
      padding: 20px;
      font-size: 16px;
      background: white;
      box-shadow: 1px 1px 4px 1px rgba(165, 164, 164, 0.38);
      border-radius: 3px;
      transition: all 0.4s cubic-bezier(0.51, 0.15, 0.24, 0.81);
      font-family: 'Roboto', sans-serif;
      font-weight: 500; }
      .login-input-wrapper.submit-wrapper .submit-btn:hover {
        background: #94868d;
        color: #fff; }
  .login-input-wrapper.row a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 3px black;
    padding-right: 30px; }
  .login-input-wrapper.socialNetwork {
    padding-top: 100px; }
    .login-input-wrapper.socialNetwork a {
      color: #eebe0b;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      font-size: 20px; }
  .login-input-wrapper.derechosReservados {
    padding-top: 50px;
    font-size: 12px; }
  .login-input-wrapper input {
    width: 100%;
    float: left;
    height: 100%;
    border-radius: 3px;
    padding: 0 10px 0 60px;
    font-size: 16px;
    font-weight: 400;
    color: #585858;
    box-shadow: 1px 1px 4px 1px rgba(165, 164, 164, 0.38); }
    .login-input-wrapper input:focus {
      color: #6c7997; }
      .login-input-wrapper input:focus + .input-icon {
        text-shadow: 1.5px 1.5px 1px rgba(129, 126, 126, 0.87);
        background-color: #6c7997;
        color: #fff; }
  .login-input-wrapper .input-icon {
    position: absolute;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    border-radius: 3px 0 0 3px;
    border-right: 1px solid rgba(57, 57, 57, 0.575);
    font-size: 26px;
    color: #676767;
    text-shadow: 0px 0px 1px rgba(129, 126, 126, 0.17);
    transition: all 0.4s cubic-bezier(0.51, 0.15, 0.24, 0.81); }

 sourceMappingURL=app.css.map 